@model HalloDoc.DataModels.RequestWiseFile

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RequestWiseFile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RequestId" class="control-label"></label>
                <select asp-for="RequestId" class ="form-control" asp-items="ViewBag.RequestId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhysicianId" class="control-label"></label>
                <select asp-for="PhysicianId" class ="form-control" asp-items="ViewBag.PhysicianId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AdminId" class="control-label"></label>
                <select asp-for="AdminId" class ="form-control" asp-items="ViewBag.AdminId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DocType" class="control-label"></label>
                <input asp-for="DocType" class="form-control" />
                <span asp-validation-for="DocType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsFrontSide" class="control-label"></label>
                <input asp-for="IsFrontSide" class="form-control" />
                <span asp-validation-for="IsFrontSide" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsCompensation" class="control-label"></label>
                <input asp-for="IsCompensation" class="form-control" />
                <span asp-validation-for="IsCompensation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ip" class="control-label"></label>
                <input asp-for="Ip" class="form-control" />
                <span asp-validation-for="Ip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsFinalize" class="control-label"></label>
                <input asp-for="IsFinalize" class="form-control" />
                <span asp-validation-for="IsFinalize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDeleted" class="control-label"></label>
                <input asp-for="IsDeleted" class="form-control" />
                <span asp-validation-for="IsDeleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPatientRecords" class="control-label"></label>
                <input asp-for="IsPatientRecords" class="form-control" />
                <span asp-validation-for="IsPatientRecords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
