.ct {
    height: 100vh;
    display:flex;
    flex-direction:column;
    background-color: #FAF9F9;

   
}

header
{
    
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.theme
{
    
    border: 3px solid #00B9E1;
    border-radius: 1px;
    opacity: 1;
    align-items: center;
    text-align: center;
    height: 35px;
    width:45px;
    margin-right:1%;
    
   
}

.img1
{
    height: 80px;
}



.submit_request
{
   text-align: center;
   background-color: #fafafa;
   margin-bottom:10px;
}

.bt
{
    margin-top: 10px;
    
}

footer
{
   
    margin-top:auto;
    display: flex;
    width: 100vw;
    background-color: black;
}

.policy
{
    margin-left: auto;
    padding-right: 10px;
    display:flex;
    align-items:center;
    height:45px;
}

.wt
{
    width: 480px;
    text-align: left;
    height: 72px;
}

@media only screen and (max-width:560px)
{
    .wt {
        width: 70%;
        text-align:center;
    }
    
}

.he
{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

#back {
    position: absolute;
    right: 92px;
}

@media only screen and (max-width:840px)
{
    #back
    {
        position: absolute;
        right: 15px;
    }
    
}

.b1 {
    background-color: #2947e6;
}

.b2 {
    background-color: #6bc7e4;
}

.b3
{
    background-color: rgb(23, 194, 100);
}

.b4
{
    background-color: rgb(165, 61, 87);
}

.dark-mode {
    background-color: black;
    color: white;
  }