body
{
    background-color:#fafafa;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    height: 90px;
    border: 1px solid #d1dcde94;
    background-color:white;
}


.theme {
    border: 3px solid #00B9E1;
    border-radius: 1px;
    opacity: 1;
    align-items: center;
    text-align: center;
    height: 35px;
    width: 45px;
    margin-right: 1%;
}

.right {
    display: flex;
    margin-left: auto;
    margin-right: 1%;
    margin-top: 6px;
}

#back {
    color: rgb(0, 185, 225);
    border-radius: 5px;
    opacity: 1;
    border: 1px solid #00B9E1;
    height: 30px;
    width: 72px;
    text-align: center;
}

.s {
    margin-right: 10px;
}

.he {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-left: 20%;
    margin-top: 25px;
}

.ct 

{
    margin-left: 20%;
    width: 60%;
    background-color:white;
    padding-left:12px;
    padding-right:12px;
    border-radius:10px;
}

.nav-underline .nav-link.active, .nav-underline .show > .nav-link {
    color: cadetblue;
}


input[type=file]::-webkit-file-upload-button {
    display: none;
}

.input-group-text {
    display: none;
}


@media only screen and (max-width:576px) {

    .Logout {
        display: none;
    }

    .intro {
        display: none;
    }


}

@media only screen and (min-width:576px) {

    .ilogout {
        display: none;
    }

    .imenu {
        display: none;
    }
  
}

.form-floating > label {
    left: 12px;
    top: 0px;
    background-color: transparent;
}