header
{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    height:90px;
    border: 1px solid #d1dcde94;
    
}


.theme
{
    
    border: 3px solid #00B9E1;
    border-radius: 1px;
    opacity: 1;
    align-items: center;
    text-align: center;
    height: 35px;
    width:45px;
    margin-right:1%;
   
}

.right
{
    display: flex;
    margin-left: auto;
    margin-right: 1%;
    margin-top: 6px;
    
}

#back 
{
    color: rgb(0, 185, 225);
    border-radius: 5px;
    opacity: 1;
    border: 1px solid #00B9E1;
    height: 30px;
    width: 72px;
    text-align:center;

}

.s
{
    margin-right: 10px;
}



.mainct
{
    width: 95%;
    margin-left: 2.5%;
}

.bt
{
   
    border-radius: 5px;
    
}







.table-success {
    --bs-table-color: white;
    --bs-table-bg: rgb(41, 167, 41);
    --bs-table-hover-bg: #299329;
    --bs-table-hover-color: white;
}

.table-warning {
    --bs-table-color: white;
    --bs-table-bg: #ed9124;
    --bs-table-hover-bg: darkorange;
    --bs-table-hover-color: white;
}
.table-primary {
    --bs-table-color: white;
    --bs-table-bg: #3a3ae7;
    --bs-table-hover-bg: darkblue;
    --bs-table-hover-color: white;
}
.table-danger {
    --bs-table-color: white;
    --bs-table-bg: #c12121;
    --bs-table-hover-bg: darkred;
    --bs-table-hover-color: white;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 1.5px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #cff4fc;
}

    .triangle-left {
    width: 0;
    height: 0;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    border-right: 23px solid red;
}

.inner-triangle {
    position: relative;
    top: -20px;
    left: 2px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid blue;
}

.vwbtn {
    z-index: 2;
    margin-top: -30px;
    margin-left: 60%;
    font-size: 12px;
    position: absolute;
    right:54px;
    
}



.bt1
{
    margin-right: 4px;
}

.input-with-icon {
    position: relative;
  }
  
.input-with-icon input {
    padding-left: 2.5rem; 
  }

.input-with-icon.icon {
    position: absolute;
    left: 0.5rem; 
    top: 50%;
    transform: translateY(-50%);
  }

.pd
{
    padding-left: 2.4px;
}

.b1
{
    padding-top: 12px;
}



.ns {
    background-color: #e9eaef;
    color: #283f87;
    border: 1px solid #283f87;
    text-align: left;
    --bs-btn-hover-bg: #e9eaef;
    --bs-btn-hover-border-color: #283f87;
}

.ps {
    background-color: #e5f2f8;
    color: #71b4cb;
    border: 1px solid #71b4cb;
    text-align: left;
    --bs-btn-hover-bg: #e5f2f8;
    --bs-btn-hover-border-color: #71b4cb;
    
}

.as {
    background-color: #e9f0e8;
    color: #558755;
    border: 1px solid #558755;
    text-align: left;
    --bs-btn-hover-bg: #e9f0e8;
    --bs-btn-hover-border-color: #558755;
}

.cos {
    background-color: #f7e6ee;
    color: #944f75;
    border: 1px solid #944f75;
    text-align: left;
    --bs-btn-hover-bg: #f7e6ee;
    --bs-btn-hover-border-color: #944f75;
}

.tcs {
    background-color: #e5eef5;
    color: #618fb7;
    border: 1px solid #618fb7;
    text-align: left;
    --bs-btn-hover-bg: #e5eef5;
    --bs-btn-hover-border-color: #618fb7;
}

.ups {
    background-color: #efeef4;
    color: #967ac0;
    border: 1px solid #967ac0;
    text-align: left;
    --bs-btn-hover-bg: #efeef4;
    --bs-btn-hover-border-color: #967ac0;
}
.indigo {
    background-color: #6610f2;
    --bs-btn-hover-bg: #6610f2;
}

.nav-underline .nav-link.active, .nav-underline .show > .nav-link
{
    color:cadetblue;
}

.accordion-body {
    background-color: #dae8eb;
}

.accordion-button:not(.collapsed) {
    background-color: #dae8eb;
}

.accordion-button {
    background-color: #ebfafd;
}


@media only screen and (max-width:576px) {
    .Logout
    {
        display: none;
    }
    .intro
    {
        display: none;
    }
    .request
    {
        display: none; 
    }
    .ismall
    {
        font-size:x-small;
    }

    .bi1
    {
        display:none;
    }
}

@media only screen and (min-width:576px)
{
    
    .ilogout
    {
        display: none;
    }
    
    .imenu
    {
        display: none; 
    }
   
}


@media only screen and (min-width:992px)
{
    .t
    {
        justify-content: end;
    }
}

@media only screen and (max-width:992px)
{
    .bt
    {
        border-radius: 0px;
    }
}

