body{
    background-color:#fafafa;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    height: 90px;
    border: 1px solid #d1dcde94;
    background-color: white;
}


.theme {
    border: 3px solid #00B9E1;
    border-radius: 1px;
    opacity: 1;
    align-items: center;
    text-align: center;
    height: 35px;
    width: 45px;
    margin-right: 1%;
}

.right {
    display: flex;
    margin-left: auto;
    margin-right: 1%;
    margin-top: 6px;
}

#back {
    color: rgb(0, 185, 225);
    border-radius: 5px;
    opacity: 1;
    border: 1px solid #00B9E1;
    height: 30px;
    width: 72px;
    text-align: center;
}

.s {
    margin-right: 10px;
}

.ahref {
    text-decoration: none;
    color: rgb(41, 41, 41);
    --bs-nav-link-color: rgb(31, 165, 165);
    --bs-nav-link-hover-color: rgb(31, 165, 165);
    --bs-nav-link-disabled-color: rgb(41, 41, 41);
}


.he {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-top: 25px;
}

.ct {
    width: 80%;
    margin-left: 10%;
    
}

.intl-tel-input {
    display: table-cell;
}

    .intl-tel-input .selected-flag {
        z-index: 4;
    }

    .intl-tel-input .country-list {
        z-index: 5;
    }

.input-group .intl-tel-input .form-control {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
}

.iti {
    width: 100%;
    z-index: 14;
}

.form-floating > label {
    left: 12px;
    top: 0px;
    background-color: transparent;
}

.nav-underline .nav-link.active, .nav-underline .show > .nav-link {
    color: cadetblue;
}

.rectangle {
    height: 21px;
    width: 36px;
    border-radius: 7px;
}

.bg-pink {
    --bs-table-bg: #FFACFA;
}

.b-pink {
    background-color: #FFACFA;
}

.accordion-body {

    background-color: #dae8eb;
}

.accordion-button:not(.collapsed) {
    background-color: #dae8eb;
}

.accordion-button {
    background-color: #ebfafd;
}



    @media only screen and (max-width:576px) {
        .Logout {
            display: none;
        }

        .intro {
            display: none;
        }

        .he {
            margin-left: 5%;
            width: 90%;
        }
    }

    @media only screen and (min-width:576px) {

        .ilogout {
            display: none;
        }
    }
