<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="h6 mb-3 mt-2">
            To provide best medical service, we cannot determine the cost right away. If you agree to our service, so we will provide care and follow-up until all care is completed. So with this points, if  you like us to provide care to you click on "Agree" and we'll get started immediately, if you do not agree simply click "Cancel".

        </div>

        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-success">I Agree</button>
            <button type="button" class="btn btn-danger">Cancel</button>
        </div>
    </div>
</body>
</html>
