
<div class="modal fade" id="BlockCase" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#0dcaf0">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Block</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="removeValidationBlock()"></button>
            </div>
            <div class="modal-body">
                <p id="blockCasePatientName"></p>
    <div class="form-floating">
                    <textarea oninput="ValidateFormBlock()" class="form-control" placeholder="Leave a comment here" id="ReasonForBlock" style="height: 100px"></textarea>
                    <label for="ReasonForBlock">Reason For Block Request</label>
                    <span class="text-danger" id="errorForReasonBlock"></span>
                    <input type="hidden" id="RequestIdBlock" />
        

    </div>
    <div class="d-flex mt-2" style="justify-content:end">
                    <button type="submit" class="btn btn-info" onclick="blockRequest()">Confirm</button>
                    <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal" onclick="removeValidationBlock()">Cancel</button>
    </div>


    


            </div>
        </div>
    </div>
</div>
