@model List<HallodocServices.ModelView.AdminRoleMenu>



    <div class="d-flex flex-wrap">
       @if(Model!=null)
       {
    @foreach (var item in Model)
    {
            string check = "";


            if (item.SelectedMenu != null)
            {
                check = item.SelectedMenu.Contains(item.Menuid) ? "checked" : "";
                
            }
           

            <div class="form-check mx-2">
                <input class="form-check-input" value="@item.Menuid" type="checkbox" name="checkedBoxes"  id="flexCheckDefault" onclick="CreateRole(this)" @check>
            <label class="form-check-label" for="flexCheckDefault">
                @item.Name
            </label>
        </div>
        
    }
       }
</div>
