@model List<HallodocServices.ModelView.AdminRoleMenu>



    <div class="d-flex flex-wrap">
       @if(Model!=null)
       {
    @foreach (var item in Model)
    {
        <div class="form-check mx-2">
            <input class="form-check-input" type="checkbox" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                @item.Name
            </label>
        </div>

    }
       }
</div>
