@model List<HallodocServices.ModelView.AdminRoleMenu>



    <div class="d-flex flex-wrap">
       @if(Model!=null)
       {
    @foreach (var item in Model)
    {
        <div class="form-check mx-2">
                <input class="form-check-input" value="@item.Menuid" type="checkbox" id="flexCheckDefault" onclick="CreateRole(this)">
            <label class="form-check-label" for="flexCheckDefault">
                @item.Name
            </label>
        </div>
        
    }
       }
</div>
<div class="d-flex justify-content-end"> <button class="btn btn-info text-white" onclick="createRoleTable()">Save Changes</button> </div>