<div>@ViewBag.NoOfDays</div>
<div>@ViewBag.FirstDay</div>

<div class="table-responsive mt-4">
    <table class="table table-bordered">
        <thead class="table-dark text-center">
            <tr>
                <th>SUN</th>
                <th>MON</th>
                <th>TUE</th>
                <th>WED</th>
                <th>THU</th>
                <th>FRI</th>
                <th>SAT</th>
            </tr>
        </thead>
        <tbody class="text-center">

            @for(int i = 0;i<6;i++)
            {
                <tr class="row-@i">
                    <td id="sun-@i" class="bg-pink bg-white"></td>
                    <td id="mon-@i" class="bg-pink bg-white"></td>
                    <td id="tue-@i" class="bg-pink bg-white"></td>
                    <td id="wed-@i" class="bg-pink bg-white"></td>
                    <td id="thu-@i" class="bg-pink bg-white"></td>
                    <td id="fri-@i" class="bg-pink bg-white"></td>
                    <td id="sat-@i" class="bg-pink bg-white"></td>
                </tr>
                <tr class="row-@i">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="row-@i">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="row-@i">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="row-@i">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="row-@i">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
            
            
        </tbody>
    </table>

</div>