<div class="table-responsive">
    <table class="table">
        <thead class="table-light">
            <tr>
                <th>Date</th>
                <th>Item</th>
                <th>Amount</th>
                <th>Bill</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td><input type="text" class="form-control"/></td>
                <td><input type="number" class="form-control"></td>
                <td>
                    <div class="input-group mb-3 mt-1">
                        <input type="file" class="form-control" id="file-picker">
                        <button class="btn btn-info">
                            <i class="bi bi-cloud-arrow-up"></i>
                            Upload

                        </button>
                        <label class="input-group-text" for="inputGroupFile02">Upload</label>
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>