@model HallodocServices.ModelView.AdminAssignCase


<div class="modal fade" id="TransferCase" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#0dcaf0">
                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color:white">Transfer Request</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                To transfer this request, search and select another physician
                <form asp-controller="AdminSite" asp-action="TransferCase">

                    <div class="mt-3 form-floating mb-3">

                        <select id="regionList1" onchange="loadPhysiciansByRegion1(this.value)" class="form-select" aria-label="Default select example" asp-for="RegionId">
                        </select>
                        <label for="regionList1">Narrow Search By Region</label>
                        <span asp-validation-for="RegionId" class="text-danger"></span>

                    </div>
                    <select class="form-select form-select-lg mb-3 " id="PhysicianList1" aria-label="Large select example" asp-for="PhysicianId">
                        <option value="">Select Physician</option>
                    </select>

                    <input type="hidden" id="requestid1" asp-for="RequestId" />
                    <div class="form-floating">
                        <textarea asp-for="Description" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Transfer Notes</label>
                    </div>
                    <div class="d-flex mt-2" style="justify-content:end">

                       

                        <button type="submit" class="btn btn-info">Submit</button>
                        <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


