
@model List<HallodocServices.ModelView.SchedulingList>

<div class="table-responsive mt-4">
    <table class="table table-bordered">
        <thead class="table-dark text-center justify-content-center">
            <tr>
                <th>STAFF</th>
                <th>SUN <span id="sun">1</span></th>
                <th>MON <span id="mon">1</span></th>
                <th>TUE <span id="tue">1</span></th>
                <th>WED <span id="wed">1</span></th>
                <th>THU <span id="thu">1</span></th>
                <th>FRI <span id="fri">1</span></th>
                <th>SAT <span id="sat">1</span></th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr>
                <td>Coverage</td>
                <td class="bg-pink">0/24</td>
                <td class="bg-pink">0/24</td>   
                <td class="bg-pink">0/24</td>
                <td class="bg-pink">0/24</td>
                <td class="bg-pink">0/24</td>
                <td class="bg-pink">0/24</td>
                <td class="bg-pink">0/24</td>
            </tr>

            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.GetPhysicians.FirstName @item.GetPhysicians.LastName</td>
                    @for(int i = 0; i< 7; i++)
                    {
                        var shift = item.GetShiftDetail.Where(a => (int)a.ShiftDate.DayOfWeek == i).ToList();
                        if(shift.Count>0)
                        {
                            <td>
                            @foreach(var s in shift)
                            {  
                                <div>@s.StartTime - @s.EndTime</div>
                            }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }

                    }
                </tr>
            }
            
        </tbody>
    </table>
</div>
