@model HallodocServices.ModelView.BusinessSendRequests

@{
    bool showmodal = TempData["BModalShow"] == null ? true : false;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link href="~/css/patient/create_request.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="~/js/email.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    
@if(showmodal)
{
        <script>
        $(document).ready(function () {
            $("#myModal").modal('show');
        });
        </script>
}
    
    <title>Document</title>
</head>
<body data-bs-theme="light">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style="text-align: center;">
                    <img src="~/images/Screenshot 2024-01-19 160841.png" alt="alert">
                    <div class="h1">Information</div>
                    <div style="text-align: left;">
                        While submitting a request you must provide the correct information about the patient or the resposibly party.
                        Failure to provide the correct email and phone will delay service or be declined.
                    </div>
                </div>
                <div class="modal-footer" style="justify-content: center;">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="ct1">
        <div class="shadow  bg-body-tertiary rounded">
            <header>
                <div class="img1"><img src="~/images/Fig56. Patient site 1.png" alt="hallodoc" style="height: 90px;"></div>
                <div class="theme"><img src="~/images/icons8-moon-symbol-25.png" alt="theme" onclick="myFunction()"></div>
            </header>
        </div>

        <div id="back" class="back">
            <a asp-controller="Patient" asp-action="SubmitRequest" style="text-decoration: none; color: rgb(0, 185, 225);"> &lt; Back</a>
        </div>
        <div class="mainct shadow">
            <form asp-controller="Patient" asp-action="CreateBusinessRequest">
                <p class="h4 ">Business information</p>
                <div class="row ">
                    <div class="col-md-12 col-lg-6 wt form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder=" First name" asp-for="BFirstName">
                        <label for="floatingInput">First Name</label>
                        <span asp-validation-for="BFirstName" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 col-lg-6 wt form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Last name" asp-for="BLastName">
                        <label for="floatingInput">Last Name</label>
                        <span asp-validation-for="BLastName" class="text-danger"></span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6 wt form-floating">
                        <input type="tel" class="form-control" style="height:58px" id="patientMobileNumber" asp-for="BMobile">
                        <span asp-validation-for="BMobile" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 col-lg-6 wt form-floating">
                        <input type="email" class="form-control" id="floatingInput" placeholder="Email" asp-for="BEmail">
                        <label for="floatingInput">Email</label>
                        <span asp-validation-for="BEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6 wt form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Business/property name" asp-for="BusinessName">
                        <label for="floatingInput">Business/Property Name</label>
                        <span asp-validation-for="BusinessName" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 col-lg-6 wt form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Case(optional)" asp-for="Case">
                        <label for="floatingInput">Case(optional)</label>
                    </div>
                </div>
                <p class="h4 vt">Patient information</p>
                <div class="row ">
                    <div class="col">
                        <div class="form-group">
                            <textarea class="form-control" id="floatingInput" id="exampleFormControlTextarea1" rows="3" placeholder="Enter brief details of symptons(optional)" asp-for="symptoms"></textarea>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6 wt form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="first name" asp-for="FirstName">
                        <label for="floatingInput">First Name</label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 col-lg-6 wt form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="last name" asp-for="LastName" >
                        <label for="floatingInput">Last Name</label>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6 wt form-floating">
                        <input type="date" class="form-control" id="floatingInput">
                        <label for="floatingInput">Date of Birth</label>
                    </div>
                    <div class="col-md-12 col-lg-6 wt form-floating"></div>
                </div>
                <p class="h4 vt">Patient Contact information</p>
                <div class="row">
                    <div class="col-md-12 col-lg-6 wt form-floating">
                       
                            <input type="email" class="form-control email1" id="floatingInput"  aria-describedby="emailHelp" placeholder="Enter email" asp-for="Email" onfocusout="checkemail()">
                        <label for="floatingInput">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                            
                        
                    </div>
                    <div class="col-md-12 col-lg-6 wt form-floating">
                        <input type="tel" class="form-control" style="height:58px" id="patientMobileNumber1" asp-for="Mobile">
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                </div>
                <div class="row" style="display:none" id="input-password">
                    <div class="col-md-12 col-lg-6 wt form-floating">
                        <input type="password" class="form-control" placeholder="first name" id="floatingInput" asp-for="PasswordHash">
                        <label for="floatingInput">Password</label>

                    </div>
                    <div class="col-md-12 col-lg-6 wt form-floating">
                        <input type="password" class="form-control " placeholder="first name" id="floatingInput" asp-for="PasswordHashC">
                        <label for="floatingInput">Confirm Password</label>

                    </div>
                </div>
                <p class="h4 vt">Patient Location</p>
                <div class="row">
                    <div class="col-md-12 col-lg-6 wt form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Street" asp-for="Street">
                        <label for="floatingInput">Street</label>
                        <span asp-validation-for="Street" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 col-lg-6 wt form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="city" asp-for="City">
                        <label for="floatingInput">City</label>
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6 wt form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="state" asp-for="State">
                        <label for="floatingInput">State</label>
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 col-lg-6 wt form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="zip code" asp-for="ZipCode">
                        <label for="floatingInput">ZipCode</label>
                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6 wt form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Room#/Suite(optional)" asp-for="roomsuite">
                        <label for="floatingInput">Room#/Suite(optional)</label>
                    </div>
                    <div class="col-md-12 col-lg-6 wt form-floating">
                    </div>
                </div>
                <div class="mbt wt">
                    <div class="bt">
                        <button type="submit" class="btn btn-info">Submit</button>
                        <button type="button" class="btn btn-outline-info">Cancel</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="t">
            <div class="policy">Terms and conditions privacy policy</div>
        </div>

    </div>
        <script>
                const phoneInputField = document.getElementById("patientMobileNumber");
        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
    </script>
    <script>
        const phoneInputField1 = document.getElementById("patientMobileNumber1");
        const phoneInput1 = window.intlTelInput(phoneInputField1, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
    </script>
</body>
</html>
