
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/patient/create_request.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#myModal").modal('show');
        });
    </script>
    <title>Document</title>
</head>
<body data-bs-theme="light">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style="text-align: center;">
                    <img src="~/images/Screenshot 2024-01-19 160841.png" alt="alert">
                    <div class="h1">Information</div>
                    <div style="text-align: left;">
                        While submitting a request you must provide the correct information about the patient or the resposibly party.
                        Failure to provide the correct email and phone will delay service or be declined.
                    </div>
                </div>
                <div class="modal-footer" style="justify-content: center;">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="ct1">
        <div class="shadow  bg-body-tertiary rounded">
            <header>
                <div class="img1"><img src="~/images/Fig56. Patient site 1.png" alt="hallodoc" style="height: 90px;"></div>
                <div class="theme"><img src="~/images/icons8-moon-symbol-25.png" alt="theme" onclick="myFunction()"></div>
            </header>
        </div>

        <div id="back" class="back">
            <a asp-controller="Patient" asp-action="SubmitRequest" style="text-decoration: none; color: rgb(0, 185, 225);"> &lt; Back</a>
        </div>
        <div class="mainct shadow ">
            <form action="">
                <p class="h4 ">Business information</p>
                <div class="row ">
                    <div class="col-md-12 col-lg-6 wt">
                        <input type="text" class="form-control" placeholder=" Your first name">
                    </div>
                    <div class="col-md-12 col-lg-6 wt">
                        <input type="text" class="form-control" placeholder=" Your last name">
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6 wt">
                        <input type="tel" class="form-control" id="patientMobileNumber">
                    </div>
                    <div class="col-md-12 col-lg-6 wt">
                        <input type="email" class="form-control" placeholder="Your email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6 wt">
                        <input type="text" class="form-control" placeholder="Business/property name">
                    </div>
                    <div class="col-md-12 col-lg-6 wt">
                        <input type="text" class="form-control" placeholder="Case(optional)">
                    </div>
                </div>
                <p class="h4 vt">Patient information</p>
                <div class="row ">
                    <div class="col">
                        <div class="form-group">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter brief details of symptons(optional)"></textarea>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6 wt">
                        <input type="text" class="form-control" placeholder="first name">
                    </div>
                    <div class="col-md-12 col-lg-6 wt">
                        <input type="text" class="form-control" placeholder="last name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6 wt">
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-md-12 col-lg-6 wt"></div>
                </div>
                <p class="h4 vt">Patient Contact information</p>
                <div class="row">
                    <div class="col-md-12 col-lg-6 wt">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 wt">
                        <input type="tel" class="form-control" id="patientMobileNumber1">
                    </div>
                </div>
                <p class="h4 vt">Patient Location</p>
                <div class="row">
                    <div class="col-md-12 col-lg-6 wt">
                        <input type="text" class="form-control " placeholder="Street">
                    </div>
                    <div class="col-md-12 col-lg-6 wt">
                        <input type="text" class="form-control" placeholder="city">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6 wt">
                        <input type="text" class="form-control" placeholder="state">
                    </div>
                    <div class="col-md-12 col-lg-6 wt">
                        <input type="text" class="form-control" placeholder="zip code">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6 wt">
                        <input type="text" class="form-control" placeholder="Room#/Suite(optional)">
                    </div>
                    <div class="col-md-12 col-lg-6 wt">
                    </div>
                </div>
                <div class="mbt wt">
                    <div class="bt">
                        <button type="button" class="btn btn-info">Submit</button>
                        <button type="button" class="btn btn-outline-info">Cancel</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="t">
            <div class="policy">Terms and conditions privacy policy</div>
        </div>

    </div>
        <script>
                const phoneInputField = document.getElementById("patientMobileNumber");
        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
    </script>
    <script>
        const phoneInputField1 = document.getElementById("patientMobileNumber1");
        const phoneInput1 = window.intlTelInput(phoneInputField1, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
    </script>
</body>
</html>
