@model List<HallodocServices.ModelView.PatientShowDocument>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/patient/patientdashboarddoc.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script>
        function toggle() {
            if (document.getElementById('hide').classList.contains('d-none')) {
                document.getElementById('hide').classList.remove('d-none');

            }
            else {
                document.getElementById('hide').classList.add('d-none');
            }
        }
    </script>

    <script>
        // Select all checkboxes when one checkbox is checked
        $(document).ready(function () {
            $('#selectAll').change(function () {
                if ($(this).is(':checked')) {
                    $('input[type="checkbox"]').prop('checked', true);
                } else {
                    $('input[type="checkbox"]').prop('checked', false);
                }
            });

        });


    </script>
    <script>
        function executeAllAnchors() {
            var selectedAnchors = document.getElementsByClassName("exec");
            for (var i = 0; i < selectedAnchors.length; i++) {
                // Add condition here to determine which anchor tags to click
                if (i % 2 === 0) { // Example condition: clicking every other anchor tag
                    selectedAnchors[i].click();
                }
            }
        }
    </script>

    <script>
        var checkbox = document.getElementById("checkbox");
        var anchors = document.getElementsByClassName("ex");

        checkbox.addEventListener("change", function () {
            if (this.checked) {
                // Add class 'highlight' to all anchor tags
                for (var i = 0; i < anchors.length; i++) {
                    anchors[i].classList.add("exec");
                }
            } else {
                // Remove class 'highlight' from all anchor tags
                for (var i = 0; i < anchors.length; i++) {
                    anchors[i].classList.remove("exec");
                }
            }
        });
    </script>

    <title>Document</title>
</head>

<body>
    <header class="shadow">
        <div class="imenu">
            <button type="button" class="btn btn-outline-info" onclick="toggle()"><i class="bi bi-list"></i></button>
        </div>
        <div class="img1"><img src="~/images/Fig56. Patient site 1.png" alt="hallodoc" style="height: 90px;"></div>
        <div class="right">
            <div class="intro">
                <p>Welcome:</p>
            </div>
            <div class="s intro"><span><b>@Model[0].FirstName</b></span></div>
            <div class="ilogout">
              <a style="text-decoration:none" asp-controller="Patient" asp-action="PatientLogin"> <button type="button" class="btn btn-outline-info"><i class="bi bi-box-arrow-right"></i></button></a>
            </div>
            <div class="Logout">
                <a style="text-decoration:none" asp-controller="Patient" asp-action="PatientLogin"> <button type="button" class="btn btn-outline-info">Logout</button></a>
            </div>
            <div class="theme"><img src="~/images/icons8-moon-symbol-25.png" alt="theme"></div>
        </div>
    </header>

    <ul class="nav nav-tabs shadow d-sm-flex" id="hide" style="padding-left: 2%;background-color: white;">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Patient" asp-action="PatientDashBoard" style="color: rgb(0, 0, 0);"><b>DashBoard</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Patient" asp-action="UserProfile" style="color: rgb(0, 0, 0);"><b>Profile</b></a>
        </li>

    </ul>
    <div class="he">
        <div class="he1 h4">
            <p>Documents</p>
        </div>
        <div class="he2">
            <a style="text-decoration:none" asp-controller="Patient" asp-action="PatientDashBoard"> <button type="button" class="btn btn-outline-info">&lt Back</button> </a>
        </div>
    </div>
    <div class="mainct shadow bg-white">
        <div class="sp">patient name</div>
        <div class="d-flex sp">
            <div class="h4" style="color: #0dcaf0;"><strong>Testing Test</strong> </div>
            <div>(MD05Te123456)</div>

        </div>
        <div class="sp">
            check here for any files or the doctors of your subsequents requestors have attached for you to review.
        </div>
        <div class="input-group mb-3 sp">
            <input type="file" class="form-control" id="inputGroupFile02">
            <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
        <div class="d-flex sp" style="justify-content:space-between;">
            <div class="h4">
                <p>Documents</p>
            </div>
            <div>
                <button type="button" class="btn btn-outline-info d-sm-none d-flex">
                    <i class="bi bi-cloud-arrow-down"></i>
                </button>
                <div>
                    <a style="text-decoration:none" onclick="executeAllAnchors()"> <button type="button" class="btn btn-outline-info d-none d-sm-flex">Download All</button></a>
                </div>


            </div>

        </div>
        <div class="table-responsive">
            <table class="table">
                <thead class="table-light">
                    <tr>
                        <th scope="col">

                            <input class="form-check-input" type="checkbox" id="selectAll">
                        </th>
                        <th scope="col"></th>
                        <th scope="col">Uploader</th>
                        <th scope="col">upload Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                   @foreach(var item in Model)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" class="form-check-input">
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem=>item.FileName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem=>item.uploader)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem=>item.UploadDate)
                            </td>
                            <td>
                                <a style="text-decoration:none" class="exec" href="~/Files/@item.FileName" download=" ~ /Files/@item.FileName">
                                    <button type="button" class="btn btn-outline-info">
                                        <i class="bi bi-cloud-arrow-down"></i>
                                    </button>
                                </a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="mobilemct">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <input type="checkbox" class="form-check-input"><i class="bi bi-file-earmark-pdf"></i> Doc1.pdf
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <input type="checkbox" class="form-check-input"><i class="bi bi-file-earmark-pdf"></i> Doc1.pdf
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <input type="checkbox" class="form-check-input"><i class="bi bi-file-earmark-pdf"></i> Doc1.pdf
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</body>

</html>
