@model HalloDoc.Repositories.ModelView.PatientLogin
@{
    bool isInValidUser = TempData["invalid-user"] == null ? false : (bool)TempData["invalid-user"];
}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Document
    </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/css/patient/patient_login_page.css" rel="stylesheet" />
</head>

<body>
    <div class="mct d-flex justify-content-center">

        <div class="bgimg ">
            <img src="~/images/11116016_415-removebg-preview.png" alt="hallodoc" style="height: 100%; width: 100%;">
        </div>


        <div class="ct">
            <header>
                <div class="theme"><img src="~/images/icons8-moon-symbol-25.png" alt="theme" onclick="myFunction()"></div>
            </header>
            <div class="login_page">

                <div class="hallodocimage">
                    <img src="~/images/Fig56. Patient site 1.png" alt="hallodoc"
                         style="max-width: 100%; align-items:center;">
                </div>
                <div class="text">
                    <h1>Login to your Account</h1>
                    <a asp-controller="Patient" asp-action="index" style="text-align: left; text-decoration:none; color:rgb(60, 179, 159); font-weight:501;"> &lt Back </a>
                </div>
                <form asp-controller="Patient" asp-action="PatientLogin">
                    <div class="form-floating mb-3">
                        <input asp-for="Email" type="text" class="form-control" id="floatingInput"  background: transparent;" placeholder="Username" >
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <label for="floatingInput">Email</label>
                        <i class="bi bi-person-circle" id="per"></i>
                        
                    </div>
                    <div class="form-floating">
                        <input asp-for="PasswordHash" type="password" class="form-control" id="floatingPassword" style="background: transparent;" placeholder="Password">
                        <span asp-validation-for="PasswordHash" class="text-danger"></span>
                        <label for="floatingPassword">Password</label>
                        <i class="bi bi-eye" id="eyeicon"></i>
                       

                    </div>
                    @if (isInValidUser)
                    {
                        <div class="alert alert-danger">
                            Invalid username or password!
                        </div>
                    }
                    
					<div> <button type="submit"  class="loginbtn form-control "><a href="" style="text-decoration: none; color: white; background:transparent"><b>Login</b></a></button></div>
                </form>

                <div class="fplink">
                    <a asp-controller="Patient" asp-action="PatientForgotPassword" style="text-align:center;text-decoration: none; color:rgb(60, 179, 159);">
                        <p  style="font-weight:501;">Forget Password?</p>
                    </a>
                </div>
             
               
                   
               
            </div>

            <div class="policy">
                <p><a>Terms of conditions</a><a> privacy policy</a></p>
            </div>
        </div>


    </div>
    <script>
        function myFunction() {
            var element = document.body;
            element.classList.toggle("dark-mode");
        }
    </script>
    
</body>

</html>