@model HallodocServices.ModelView.PatientSubmitMe


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
   <link href="~/css/patient/userprofile.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
        <script>
            function toggle() {
                if (document.getElementById('hide').classList.contains('d-none')) {
                    document.getElementById('hide').classList.remove('d-none');


                }
                else {
                    document.getElementById('hide').classList.add('d-none');
                }
            }
            </script>
    <title>Document</title>
</head>
<body>
    <div class="sticky-top">
    <header class="shadow">
        <div class="imenu">
            <button type="button" class="btn btn-outline-info" onclick="toggle()"><i class="bi bi-list"></i></button>
        </div>
        <div class="img1"><img src="~/images/Fig56. Patient site 1.png" alt="hallodoc" style="height: 90px;"></div>
        <div class="right ">
            <div class="intro">
                <p>Welcome:</p>
            </div>
            <div class="s intro mx-1"><span>@ViewBag.Name</span></div>
            <div class="ilogout mx-1">
                <button type="button" class="btn btn-outline-info"><i class="bi bi-box-arrow-right"></i></button>
            </div>
            <div class="Logout mx-1">
                <a style="text-decoration:none" asp-controller="Patient" asp-action="PatientLogin"><button type="button" class="btn btn-outline-info">Logout</button></a>
            </div>
            <div class="theme"><img src="~/images/icons8-moon-symbol-25.png" alt="theme"></div>
        </div>
    </header>

    <ul class="nav nav-underline shadow d-sm-flex" id="hide" style="padding-left: 2%;background-color: white;">
        <li class="nav-item">
            <a class="nav-link active" asp-controller="Patient" asp-action="PatientDashBoard" style="color: rgb(0, 0, 0);">DashBoard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Patient" asp-action="UserProfile" style="color: rgb(0, 0, 0);">Profile</a>
        </li>

    </ul>
    </div>
    <div class="he">
        <div class="he1 h4">
            <p>Submit information</p>
        </div>
        <div class="he2">
            <button type="button" class="btn btn-outline-info">&lt Back</button>
        </div>
    </div>
     <div class="mainct shadow">
            <form asp-controller="Patient" asp-action="SubmitMe" enctype="multipart/form-data">
                <p class="h4">Patient information</p>

                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 120px" asp-for="symptoms"></textarea>
                    <label for="floatingTextarea2" style="top:-9px;left:-9px">Enter brief details of symptons(optional)</label>
                </div>
                
                <div class="row">
                    <div class="col-md-12 col-lg-6 wt form-floating">
                        <input  type="text" class="form-control" placeholder="first name" id="floatingInput"  asp-for="FirstName">
                        <label for="floatingInput">First Name</label>
                         <span asp-validation-for="FirstName" class="text-danger"></span>
                        
                    </div>
                    <div class="col-md-12 col-lg-6 wt form-floating">
                        <input  type="text" class="form-control" placeholder="last name" id="floatingInput" asp-for="LastName">
                        <label for="floatingInput">Last Name</label>
                         <span asp-validation-for="LastName" class="text-danger"></span>
                        
                    </div>
                </div>
                <div class="row">
                    <div  class="col-md-12 col-lg-6 wt form-floating">
                        <input type="date" class="form-control" id="floatingInput" >
                        <label for="floatingInput">Date</label>
                       
                    </div>
                    <div class="col-md-12 col-lg-6 wt form-floating"></div>
                </div>
                <p class="h4 vt">Patient Contact information</p>
                <div class="row">
                    <div class="col-md-12 col-lg-6 wt form-floating">

                        <input type="email"  class="form-control email1" id="exampleInputEmail1"
                               aria-describedby="emailHelp" placeholder="Enter email"  asp-for="Email" >
                        <label for="floatingInput">Email</label>
                         <span asp-validation-for="Email" class="text-danger"></span>
                           
                    </div>
                    <div class="col-md-12 col-lg-6 wt">
                        
                            <div class="input-group">
                            <input  type="tel" class="form-control" id="patientMobileNumber" style="height:58px" asp-for="Mobile">
                             <span asp-validation-for="Mobile" class="text-danger"></span>
                            
                            </div>
                        
                    </div>
                </div>
               
                <input type="hidden" asp-for="UserId" />

                <p class="h4 vt">Patient Location</p>
                <div class="row">
                    <div class="col-md-12 col-lg-6 wt form-floating">
                        <input  type="text" class="form-control" id="floatingInput" placeholder="street"  asp-for="Street">
                        <label for="floatingInput">Street</label>
                         <span asp-validation-for="Street" class="text-danger"></span>
                      
                    </div>
                    <div  class="col-md-12 col-lg-6 wt form-floating">
                        <input  type="text" class="form-control" id="floatingInput" placeholder="City" asp-for="City">
                        <label for="floatingInput">City</label>
                         <span asp-validation-for="City" class="text-danger"></span>
                   
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6 wt form-floating">
                        <input  type="text" class="form-control" id="floatingInput" placeholder="State" asp-for="State">
                        <label for="floatingInput">State</label>
                         <span asp-validation-for="State" class="text-danger"></span>
                       
                    </div>
                    <div class="col-md-12 col-lg-6 wt form-floating">
                        <input  type="text" class="form-control" id="floatingInput" placeholder="Zipcode" asp-for="ZipCode">
                        <label for="floatingInput">Zipcode</label>
                         <span asp-validation-for="ZipCode" class="text-danger"></span>
                     
                    </div>
                </div>
                <div class="row">
                    <div  class="col-md-12 col-lg-6 wt form-floating">
                        <input  type="text" class="form-control" id="floatingInputvalue" placeholder="Room#/Suite(optional)" asp-for="roomsuite">
                        <label for="floatingInputvalue">Room#/Suite(optional)</label>
                    </div>
                    <div class="col-md-12 col-lg-6 wt form-floating">
                      
                    <button type="button" class="btn btn-outline-info"><i class="bi bi-geo-alt"></i> Map</button>
                
                    </div>
                </div>
                <p class="h4 vt">(optional) add photo or documents</p>
                <div class="input-group mb-3 mt-1">
                    <input type="file" class="form-control" id="file-picker" asp-for="File" >
                    <button class="btn btn-info">
                        <i class="bi bi-cloud-arrow-up"></i>
                        Upload
                    </button>
                </div>
                <div class="mbt wt">
                    <div class="bt">
                        <button type="submit" class="btn btn-primary" >
                            Submit
                        </button>
                        <button type="button" class="btn btn-outline-info">Cancel</button>
                    </div>
                </div>
            </form>

        </div>
         <script>
        const phoneInputField = document.getElementById("patientMobileNumber");
        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
    </script>
    </body>
    </html>
