<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link href="~/css/patient/submit_request.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="ct">
        <header>
            <div class="img1"><img src="~/images/Fig56. Patient site 1.png" alt="hallodoc" style="height: 60px;"></div>
            <div class="theme"><b><img src="~/images/icons8-moon-symbol-25.png" alt="theme"></b></div>
        </header>
        <div class="submit_request">
            <div class="he">
                <div><p class="h1"><strong>I am a..</strong></p></div>
                <a asp-controller="Patient" asp-action="Index"><div id="back">&lt Back</div></a>
            </div>
            <div class="bt"><a asp-controller="Patient" asp-action="CreatePatientRequest" style="text-decoration: none;"><button type="button" class="btn btn-outline-primary wt b1" style="color: white;"><b>PATIENT</b></button></a></div>
            <div class="bt"><a asp-controller="Patient" asp-action="CreateFamilyFriendRequest" style="text-decoration: none;"><button type="button" class="btn btn-outline-info wt b2" style="color: white;"><b>FAMILY/FRIEND</b></button></a></div>
            <div class="bt"><a asp-controller="Patient" asp-action="CreateConciergeRequest" style="text-decoration: none;"><button type="button" class="btn btn-outline-success wt b3" style="color: white;"><b>CONCIERGE</b></button></a></div>
            <div class="bt">
                <a asp-controller="Patient" asp-action="CreateBusinessRequest" style="text-decoration: none;"><button type="button" class="btn btn-outline-danger wt b4" style="color: white;"><b>BUSINESS PARTNERS</b></button></a>
            </div>
        </div>
        <footer>
            <div class="policy"><p style="color: white;">Terms and conditions Privacy policy</p></div>
        </footer>
    </div>

</body>
</html>
